body {
    background-image: url("Assets/Images/concrete_wall_2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }}

    .navbar-light .navbar-toggler-icon {
      background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=000');
    }