
#padding {
  padding-bottom: 15px;
  padding-top: 5px;
}

body {
  background-image: url("Assets/Images/concrete_wall_2.png");
  height: 100%;
  background-position-y: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  padding: 0;
}

.title {
  color: grey;
  font-size: 18px;
}

.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=000');
}

footer {
  left: 0;
  margin-top: 2em;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: small;
  position: static;
}

.container .btn:hover {
  background-color: black;
}

.p1 {
  font-size: xx-large;
}

.repoLinks {
  font-size: medium;
  margin: 5px;
}